.button{
    -fx-background-color: lightsteelblue;
    -fx-background-radius: 18px;
    -fx-font-size: 20pt;
    -fx-font-family: "Lato bold" "Calibri"
}

.button:hover{
    -fx-background-color: derive(#778899, -30%);
}

.button:hover{
    -fx-text-fill: whitesmoke;
}

.root{
    -fx-background-color: slategrey;
}

.menu-bar{
    -fx-background-color: derive(#778890, -30%);
}

.menu-item{
    -fx-background-color: derive(#778899, -30%);
}
