.button{
    -fx-background-color: lightsteelblue;
    -fx-background-radius: 18px;
    -fx-font-size: 10pt;
    -fx-font-family: "Lato bold" "Calibri"
}

.button:hover{
    -fx-background-color: derive(#778899, -30%);
}

.button:hover{
    -fx-text-fill: whitesmoke;
}

.root{
    -fx-background-color: slategrey;
}

.text-field{
    -fx-background-color: lightsteelblue;
    -fx-font-size: 10pt;
    -fx-font-family: "Lato bold" "Calibri"
}

